<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Mostly from https://github.com/OWASP/SafeNuGet/blob/master/feed/unsafepackages.xml -->
  <!-- possible version descriptors are version, before, beforeOrAt, after, afterOrAt -->
  <package id="AntiXSS" version="4.2.1" />
  <package id="Bytescout.Spreadsheet" version="2.8.5.1639" />
  <package id="Aspose.Pdf" version="7.3.0" />
  <package id="LibGit2Sharp" version="0.20.0" />
  <package id="NServiceBus" version="3.2.7" />
  <package id="Microsoft.Data.Services" version="5.0.0.50403" />
  <!-- <package id="MvvmLight" before="4.1.26.0" /> -->
  <package id="UmbracoCms" version="6.0.0" />
  <!-- <package id="UmbracoCms" version="4.5.0" /> -->
  <package id="jQuery.Migrate" version="1.1.1"/>
  <package id="jQuery" version="1.6" />
  <package id="jQuery.UI.Combined" version="1.9.2" />
  
  <package id="Ember" version="1.4.0-beta1" />
  <!-- <package id="Ember" version="1.0.0-rc60" /> -->
  <package id="Backbone.js" version="0.3.3" />
  <!-- <package id="mustache.js" before="0.3.1" infoUri="https://github.com/janl/mustache.js/issues/112" /> -->
  <!-- <package id="GleamTech.Core" before="1.0.6" infoUri="https://www.nuget.org/packages/GleamTech.Core/" /> -->
  <package id="WiX.Toolset.UnofficialFork" version="3.10.1" />
  <!-- <package id="bzip2.v100" before="1.0.6" infoUri="https://www.nuget.org/packages/bzip2.v100/" /> -->
  <!-- <package id="FileUltimate" before="5.0.7" infoUri="https://www.nuget.org/packages/FileUltimate/5.0.7" /> -->
  <package id="Twilio.Mvc" version="3.2.0" />
  <package id="Node.js" version="4.1.1" />
  <package id="Premotion.AspNet.AppHarbor.Integration" version="0.2.0" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.1" />
  
  <package id="Newtonsoft.Json" version="6.0.6" />
  <package id="EntityFramework" version="6.0.0" />
  <package id="AutoMapper" version="4.0.4" />
  <package id="Microsoft.AspNet.Mvc" version="5.0.0" />
  <package id="log4net" version="2.0.0" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.0.0" />
  <package id="Microsoft.AspNet.SignalR" version="2.0.1" />
  <package id="System.Data.SQLite" version="1.0.105.1" />
  <package id="jQuery.Validation" version="1.6.0" />
  <package id="Dapper" version="1.0.0" />
  <package id="System.Net.Http" version="2.0.20710" />
  <package id="Microsoft.Net.Http" version="2.0.20505" />
  <package id="SSH.NET" version="2012.20.12" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="2.0.20505" />
  <package id="Microsoft.Owin.Security" version="1.1.0-beta1" />
  <package id="chocolatey" version="0.9.10" />
 
</packages>
