<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alpheus" version="0.1.4.3" targetFramework="net45" />
  <package id="CSharpTest.Net.BPlusTree" version="2.14.126.467" targetFramework="net46" />
  <package id="CSharpTest.Net.Library" version="2.14.126.467" targetFramework="net46" />
  <package id="ini-parser" version="2.3.0" targetFramework="net45" />
  <package id="MedallionShell" version="1.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Sprache" version="2.0.0.51" targetFramework="net45" />
  <package id="Versatile" version="0.1.13.4" targetFramework="net45" />
  <package id="YamlDotNet" version="3.9.0" targetFramework="net45" />
</packages>