<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSharpTest.Net.BPlusTree" version="2.14.126.467" targetFramework="net46" />
  <package id="CSharpTest.Net.Library" version="2.14.126.467" targetFramework="net46" />
  <package id="MedallionShell" version="1.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net46" />
  <package id="Sprache" version="2.0.0.51" targetFramework="net46" />
  <package id="Versatile" version="0.1.6.0" targetFramework="net45" />
  <package id="YamlDotNet" version="3.8.0" targetFramework="net46" />
</packages>